<!DOCTYPEhtml>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style4.css">

		<a href="../templates/daenerys.html">Daenerys</a>
			
		<a href="../templates/tormond.html">tormund</a>
			
		<a href="../templates/snow.html">snow</a>
		<a href="../index.html">home</a>
</head>
<body>

<p>Benjen Stark is the youngest son of Lord Rickard Stark. Rickard was the head of House Stark and Lord Paramount of the North. The North is one of the constituent regions of the Seven Kingdoms and House Stark is one of the Great Houses of the realm. House Stark rule the region from their seat of Winterfell and Rickard also held the title Lord of Winterfell.

Benjen is the younger brother of Brandon, Eddard and Lyanna. Rickard, Brandon and Lyanna were all killed in the civil war known as Robert's Rebellion. Eddard inherited his father's titles and responsibilities.

He later attended the The Great Tourney at Harrenhal with his siblings.

Benjen joined the Night's Watch, the military force which patrols the Wall and guards the northern border of the Seven Kingdoms. He earned the rank of First Ranger. Benjen is a hero to Lyanna's son Jon Snow.</p>
	<audio autoplay loop>
  <source src="../audio/benjen.mp3" type="audio/mpeg">
</audio>
</body>
</html>




