<!DOCTYPEhtml>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style2.css">

	<a href="../templates/snow.html">snow</a>
			
		<a href="../templates/tormond.html">tormund</a>
			
		<a href="../templates/benjen.html">benjen</a>
		<a href="../index.html">home</a>

</head>
<body>

<p id="one">Daenerys is the only daughter and youngest child of King Aerys II Targaryen, the "Mad King", and his sister-wife, Rhaella. Her father died during the Sack of King's Landing, before she was even born. The usurper Robert Baratheon installed himself as king, having defeated Aerys in the conquest known as Robert's Rebellion. Her pregnant mother and brother Viserys, fled to the island of Dragonstone, the ancestral home of House Targaryen, to escape Robert. Daenerys's brother Rhaegar Targaryen was killed in the war by Robert. The forces of House Lannister murdered Rhaegar's wife, Elia Martell, and their children, Rhaenys and Aegon, during the Sack of King's Landing.
</p>
<p>But unbeknownst to Daenerys and the rest of her family, her oldest brother Rhaegar had another son by Lyanna Stark, who died shortly after giving birth to him. In her final moments, she revealed the true name of their son; Aegon Targaryen, to her brother Eddard, who passed the boy off as his bastard son, Jon Snow, and raised him in Winterfell. Jon initially joined the Night's Watch but later became the King in the North.</p>
<p>
On the night Daenerys was born on Dragonstone, a severe storm raged. For this reason, she is sometimes called "Daenerys Stormborn". Her mother died soon after she was born, leaving her an orphan.As a baby, she was taken into exile in the Free Cities with her brother, Viserys, by loyal retainers, among them Ser Willem Darry.</p>
<p>
After years spent fruitlessly trying to raise support to retake the Iron Throne, Viserys and Daenerys were given sanctuary by Magister Illyrio Mopatis in the Free City of Pentos. She dreams of finding a peaceful home and a place to belong. She lives in constant fear of Viserys, who hits her when his temper is risen (in his words, whenever she "wakes the dragon"). Living under Viserys's domination has left her meek and malleable.</p>
	<audio autoplay loop>
  <source src="../audio/daenerys.mp3" type="audio/mpeg">
</audio>


</body>
</html>