<!DOCTYPEhtml>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style3.css">
</head>
<body>

<p>Tormund is a trusted leader in his own right of a large warband of wildlings. He has joined his forces to those of King-Beyond-the-Wall Mance Rayder, and now functions as one of Mance's most trusted lieutenants. Tormund is not just a capable leader, but also a very dangerous fighter. This is proven during the Battle of Castle Black, where he killed multiple Night's Watch brothers and clearly outmatched Ser Alliser Thorne in single combat.
He boasts of having bedded a she-bear, which he calls Shella. Ygritte insists that everyone knows he just made this story up. Tormund makes much of his capacity for drink and sexual encounters, usually as a means of raising his allies' morale. He is extremely loyal to those who have fought alongside him, even Jon Snow, who once betrayed him and the wildlings.

Tormund has two daughters, though he hasn't mentioned if he has any sons.</p>

		<a href="../templates/daenerys.html">Daenerys</a>
			
		<a href="../templates/snow.html">snow</a>
			
		<a href="../templates/benjen.html">benjen</a>
		<a href="../index.html">home</a>
			<audio autoplay loop>
  <source src="../audio/tormund.mp3" type="audio/mpeg">
</audio>
</body>
</html>

